@page "/login"

@inject ILoginService loginService
@inject IRepository repository
@inject SweetAlertService swal
@inject NavigationManager navigationManager


<div class="container">
    <div class="w-100 vh-100 d-flex align-items-center justify-content-center">
        
        <div class="card shadow">
            <div class="card-header">
                <div>
                    <img src="images/mabruk.png" class="mx-auto d-block" alt="" />
                </div>
            </div>
            <div class="card-body" style="padding: 2rem;">
                <EditForm Model="userInfo" OnValidSubmit="LogIn">
                    
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label fw-semibold">Usuario</label>
                            <InputText class="form-control" @bind-Value=userInfo.UserName />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label fw-semibold">Contraseña</label>
                            <InputText type="password" class="form-control" @bind-Value="userInfo.Password" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <button type="submit" class="btn btn-primary w-100">Ingresar</button>
                        </div>
                    </div>
                </EditForm>
                <div class="text-center mb-3">
                    <small class="fw-lighter">Derechos reservados INFOSERCOM 2024</small>
                </div>
                <div class="text-center">
                    <img src="images/infosercom_round_name.jpg" alt="logo INFOSERCOM" height="40" />
                </div>
            </div>
        </div>
        
    </div>
</div>
@* <div style="position:fixed; bottom: 0; height:100px; width: 100%;
        background-image: url(images/especies.png); background-repeat: repeat-x;
        background-size: contain;">    
</div> *@


@code {
    UserInfoDto userInfo = new UserInfoDto();


    async Task LogIn()
    {
        var http = await repository.Post<object, UserTokenDto>("api/accounts/login", userInfo);
        if (http.Error)
        {
            await swal.FireAsync("Error", await http.GetErrorMessage(), SweetAlertIcon.Error);
        }
        else
        {
            await loginService.Login(http.Response!);
            navigationManager.NavigateTo("");            
        }

    }

}
